@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

:root{
--main-font: 'DM Serif Text', serif;
--golden-color: #b5a95c;
}

/* GLOBALS */
html{
    box-sizing: border-box;
    font-size: 62.5%; /**1 rem = 10px**/
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-family: var(--main-font);
    font-size: 1.6rem;
    background-color: black;
}


/* HEADER */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: black;
    margin-bottom: 1rem;
}
.header svg{
    width: 2rem;
    height: 2rem;
    color: white;
    cursor: pointer;
    background-color: transparent;
    margin: 0 1rem;

    &:hover{
        color: var(--golden-color);
    }
}

.header button{
    background-color: transparent;
    border: none;
}

/* HERO */
.hero {
  height: 50rem;
  background-image:
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 5%,
      rgba(0, 0, 0, 1) 100%
    ),
    url('./image-hero.jpg');

  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;

  text-align: center;
  color: white;
  line-height: 1rem;

  &.hero h2{
    font-size: 4rem;
    margin: 1.5rem;
  }

  &.hero p{
    line-height: 2rem;
    font-size: smaller;
  }
}

/* CATEGORIES */
.categories-header{
    padding-left: 2rem;
    padding-bottom: 5rem;
    color: white;
}

.categories-buttons{
    display: flex;
    gap: 2rem;
}

.meat-card{
    border: 1px solid rgb(40, 40, 40);
    background-color: rgb(15, 15, 15);
    border-radius: 2rem;
    padding: 2rem;
    margin-bottom: 5rem;
    max-width: 90%;
    max-height: 90%;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    position: relative;

    &.meat-card h3{
        font-size: 3.5rem;
    }
}


.meat-card:last-child{
    margin-bottom: 1rem;
}

.meat-card img{
    border-radius: 2rem;
    width: 100%;
    height: 30rem;
    object-fit: cover;
    margin-right: 2rem;
}

.meat-info{
    display: flex;
    flex-direction: column;
}

main button {
    background-color: var(--golden-color);
    border: none;
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    color: white;
}

main button:hover {
    background-color: #857b42;
    color: white;
}

.categories-header button{
    background-color: rgb(30, 30, 30) ;
    margin: 0 -0.6rem;
}

.categories-header button:hover{
    background-color: var(--golden-color);
    color: white;
}

.meat-card button{
    margin-top: 1rem;
    position: absolute;
    bottom: 4rem;
    right: 4rem;
    width: 10rem;
}

/* FOOTER */
footer{

    background-color: rgb(15, 15, 15);
    color: white;
    text-align: center;
    padding: 2rem;
}

/* SIDEBAR EXTRA */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 26rem;
  height: 100vh;
  background: rgba(18, 18, 18);
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  display: flex;
  padding: 0 2rem;
  flex-direction: column;
  z-index: 1100;

  & #closeBtn {
    align-self: flex-end;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    margin-top: 2rem;
  }
    & nav {
        display: flex;
        flex-direction: column;
        margin-top: 5rem;
        gap: 2rem;

        & a {
        color: white;
        text-decoration: none;
        font-size: 2rem;
        text-align: center;

        &:hover {
            color: var(--golden-color);
        }
        }
    }
}

.sidebar.open {
  transform: translateX(0);
}
